body {
  padding: 0;
  margin: 0;
  /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
  background: linear-gradient(270deg, #00ffb9, #00b6ec, #681cf8);
  background-size: 600% 600%;

  -webkit-animation: MoveBG 30s ease infinite;
  -moz-animation: MoveBG 30s ease infinite;
  animation: MoveBG 30s ease infinite;
}

#container {
  background-image: url('images/EDM_VISUALS_2.jpg');
  background-repeat: no-repeat;
  height: 600px;
  background-size: 100%;
  margin: 0;
}

h2 {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 1px;
}

.equalizer {
  /*margin-top: 10px;*/
}

#form {
  background-color: rgba(108, 30, 255, 0.78);
  position: absolute;
  top: 20%;
  color: white;
  padding: 50px;
  text-align: center;
  vertical-align: middle;
}

#list h6 {
  background-color: yellow;
  /*background-color: palegoldenrod;*/
  /*letter-spacing: 1px;*/
  text-align: center;
  /*padding: 7px 0;*/
  /*margin-bottom: 15px;*/
}

/*#people-list {
  background-color: gainsboro;
  width: 25%;
  align-self: center;
  padding: 5px 10px;
  position: fixed;
  left: 37.5%;
}*/

.listing:nth-child(even) {
  background-color: lightgray;
}

@-webkit-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
